{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista typów</h1>
 
    <table class="table table-striped table-bordered " id="table" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Czas ważności</th>
                <th>Cena</th>
                <th>Producent</th>
                <th>Laboratorium</th>
                <th>Rodzaj weryfikacji</th>
                <th>Typ</th>
                <th class="hidden-xs">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etype in etypes %}
            <tr>
                <td><a href="{{ path('etype_show', { 'id': etype.id }) }}">{{ etype.id }}</a></td>
                <td>{{ etype.eType }}</td>
                <td>{{ etype.validityPeriod }}</td>
                <td>{{ etype.ePrice }}</td>
                <td>{{ etype.producer }}</td>
                <td>{{ etype.laboratory }}</td>
                <td>{{ etype.verification }}</td>
                <td>{{ etype.emodel }}</td>
                <td class="hidden-xs">
                    <div class="btn-group">
                            <a href="{{ path('etype_edit', { 'id': etype.id }) }}" class="btn-sm btn-primary" role="button">edit</a>
                            <a href="{{ path('etype_edit', { 'id': etype.id }) }}" class="btn-sm btn-primary" role="button">edit</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <footer>
            <a href="{{ path('etype_new') }}" class="btn btn-primary" role="button">STWÓRZ NOWE</a>
    </footer>
    

{% endblock %}
{% block javascripts %}
      <script src="{{ asset('js/jquery.min.js') }}"></script>
      <script src="{{ asset('js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('js/adminlte.min.js') }}"></script> 
      <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>


<script type="text/javascript">
  $(document).ready(function() {
          var t =  $('#table').DataTable( {
            "scrollX": true,
            "language": {
            "lengthMenu": "Wyświetl _MENU_ rekordów na stronę",
            "zeroRecords": "Przepraszamy nic nie znaleziono",
            "info": "Strona _PAGE_ z _PAGES_",
            "infoEmpty": "Brak psujących rekordów",
            "infoFiltered": "(Odfiltrowane z _MAX_ rekordów)",
            "search":         "Wyszukaj:",
            "paginate": {
                "first":      "Pierwsza",
                "last":       "ostatnia",
                "next":       "Natępna",
                "previous":   "Poprzednia"
                   },
        }
    } );



} );
  
</script> 
                
{% endblock %}   