{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Szczegóły</h1>
    </div>

    <table class="table table-hover table-bordered" id="table" width="100%" cellspacing="0">
        <tbody>
            <tr>
                <th>Nazwa przyrządu</th>
                <td>{{ etype.emodel }}</td>
            </tr>
            <tr>
                <th>Producent</th>
                <td>{{ etype.producer }}</td>
            </tr>
            <tr>
                <th>Typ</th>
                <td>{{ etype.eType }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ etype.ePrice }}</td>
            </tr>
            <tr>
                <th>Rodzaj weryfikacji</th>
                <td>{{ etype.verification }}</td>
            </tr>
            <tr>
                <th>Czasokres</th>
                <td>{{ etype.validityPeriod }}</td>
            </tr>
            
            
            <tr>
                <th>Laboratorium</th>
                <td>{{ etype.laboratory }}</td>
            </tr>
            
            
        </tbody>
    </table>

    

    <div class="container">     
    <div class="row">
        <div class="col-xs-4 text-left">
            <a href="{{ path('etype_edit', { 'id': etype.id }) }} " class="btn btn-primary">Edytuj</a>
            
        </div>

        <div class="col-xs-4">
        
         
        </div>

        <div class="col-xs-4">
                <a href="{{ path('etype_index') }} " class="btn btn-success">Powrót do listy</a>
        </div>
    </div>

{% endblock %}
