<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        

        <title>{% block title %}Welcome!{% endblock %}</title>
       
            {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/forms.css') }}" rel="stylesheet" />

            {% endblock %}
            
            <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
               <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" />
               <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}" />
               <link rel="stylesheet" href="{{ asset('bower_components/jvectormap/jquery-jvectormap.css') }}" />
               <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap.css') }}" />
                
               
               <link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/dist/css/AdminLTE.min.css') }}" />   
               <link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/dist/css/skins/_all-skins.min.css') }}" /> 
                
                
                
                
                
                
                
                
                
                
                
                
        
       
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

<body class="hold-transition skin-blue sidebar-mini">
{% block header %}
<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <a href="{{ path('homepage') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>H</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Home</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav navbar-right">
               {% if is_granted("ROLE_ADMIN") %}
              <li><a href="{{ path('fos_user_registration_register') }}">Rejestruj</a></li>

              {% endif %}
              {% if is_granted("ROLE_USER") %}
              <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
               {% else %}
              <li><a href="{{ path('fos_user_security_login') }}">Loguj</a></li>
              {% endif %}
              
            </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
       
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
{% endblock %}
  <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
  <section class="content">
      {% block body %}{% endblock %}
  </section>    
 </div>

  

</div>
<!-- ./wrapper -->
{% block javascripts %}
      <script src="{{ asset('js/jquery.min.js') }}"></script>
      <script src="{{ asset('js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('js/adminlte.min.js') }}"></script> 
      <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>


<script type="text/javascript">
            $('#table').DataTable( {
            responsive: true
            } );
</script>             
{% endblock %}

</body>
 
  
        
       

        
</html>
