<!DOCTYPE html>
<html>
    <head>
       
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        

        <title>{% block title %}Welcome!{% endblock %}</title>
       
            {% block stylesheets %}
            
            <link href="{{ asset('bundles/app/css/forms.css') }}" rel="stylesheet" />

            {% endblock %}
            
  <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bower_components/Ionicons/css/ionicons.min.css') }}" />
  <link rel="stylesheet" href="{{ asset('bower_components/jvectormap/jquery-jvectormap.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap.css') }}" />
  <link rel="stylesheet" href="{{ asset('css/datepicker3.css') }}" />               
               
  <link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/dist/css/AdminLTE.min.css') }}" />   
  <link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/dist/css/skins/_all-skins.min.css') }}" /> 
                
       
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body class="hold-transition skin-blue sidebar-mini">
{% block header %}
<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <a href="{{ path('homepage') }}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>H</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Home</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
         <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
              {% if is_granted("ROLE_USER") %}
                <li><a class="hidden-xs">Witaj! {{ app.user.username }}</a></li>
              {% endif %}
              {% if is_granted("ROLE_ADMIN") %}
                <li><a href="{{ path('fos_user_registration_register') }}">Rejestruj</a></li>
              {% endif %}
              {% if is_granted("ROLE_USER") %}
                <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>
              {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Loguj</a></li>
              {% endif %}
              
            </ul>
      </div>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        {% if is_granted("ROLE_ADMIN") %}        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-building-o"></i> <span>Listy</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('list_index') }}"><i class="fa fa-circle-o"></i> Moja lista sprzętu</a></li>
            
          </ul>
        </li>
        
        {% endif %}
        {% if is_granted("ROLE_ADMIN") %}

         <li class="treeview">
          <a href="#">
            <i class="fa fa-wrench"></i> <span>Narzędzia</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('equipment_index') }}"><i class="fa fa-circle-o"></i> Urządzenia pomiarowe</a></li>
            <li><a href="{{ path('etype_index') }}"><i class="fa fa-circle-o"></i> Tabela typów</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Tabele</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('equipment_index') }}"><i class="fa fa-circle-o"></i> Tabela sprzętu</a></li>
            <li><a href="{{ path('etype_index') }}"><i class="fa fa-circle-o"></i> Tabela typów</a></li>
            <li><a href="{{ path('producer_index') }}"><i class="fa fa-circle-o"></i> Tabela producentów</a></li>
            <li><a href="{{ path('laboratory_index') }}"><i class="fa fa-circle-o"></i> Tabela laboratoriów</a></li>
            <li><a href="{{ path('verification_index') }}"><i class="fa fa-circle-o"></i> Tabela weryfikacji</a></li>
            <li><a href="{{ path('efunction_index') }}"><i class="fa fa-circle-o"></i> Tabela kategorii</a></li>
          </ul>
        </li>
        {% else %}
        {% endif %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
{% endblock %}
  <!-- Content Wrapper. Contains page content -->
  
 <div class="content-wrapper">
  <section class="content">
  <div class="container-fluid">
      {% block body %}{% endblock %}
      </div>
  </section>    
 </div>
 
  

</div>
<!-- ./wrapper -->
{% block javascripts %}
      <script src="{{ asset('js/jquery.min.js') }}"></script>
      <script src="{{ asset('js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('js/adminlte.min.js') }}"></script> 
      <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>  



                
{% endblock %}

</body>
 
  
        
       

        
</html>
