{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-header">
    <h1>Lista sprzętu</h1>
    </div>

    <table class="table table-hover table-bordered" id="table" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th style="display:none;">Id</th>
                <th>Nr inwent.</th>
                <th>Nr seryjny</th>
                <th>Data weryfikacji</th>
                <th>Następna weryfikacja</th>
                <th>Wynik weryfikacji</th>
                <th>Data produkcju</th>
                <th>Użytkownik</th>
                <th>Wprowadzający</th>
                <th>Miejsce użytk.</th>
                <th>Czy używany</th>
                
            </tr>
        </thead>
        <tbody>
        {% for equipment in equipment %}
            <tr>
                <td style="display:none;">{{ equipment.id }}</td>
                <td>{{ equipment.inventoryNr }}</td>
                <td>{{ equipment.serialNr }}</td>
                <td>{% if equipment.verificationDate %}{{ equipment.verificationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if equipment.timeToVerification %}{{ equipment.timeToVerification|date('Y-m-d') }}{% endif %}</td></td>
                <td>{{ equipment.verificationResult }}</td>
                <td>{% if equipment.productionDate %}{{ equipment.productionDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ equipment.userId }}</td>
                <td>{{ equipment.engId }}</td>
                <td>{{ equipment.place }}</td>
                <td>{% if equipment.ifUsed %}Yes{% else %}No{% endif %}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <footer>
            <a href="{{ path('equipment_new') }}" class="btn btn-primary" role="button">STWÓRZ NOWE</a>
    </footer>



{% endblock %}
{% block javascripts %}
      <script src="{{ asset('js/jquery.min.js') }}"></script>
      <script src="{{ asset('js/bootstrap.min.js') }}"></script>
      <script src="{{ asset('js/adminlte.min.js') }}"></script> 
      <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ asset('js/dataTables.bootstrap.min.js') }}"></script>


<script type="text/javascript">
  $(document).ready(function() {
          var t =  $('#table').DataTable( {
            "scrollX": true,
            "language": {
            "lengthMenu": "Wyświetl _MENU_ rekordów na stronę",
            "zeroRecords": "Przepraszamy nic nie znaleziono",
            "info": "Strona _PAGE_ z _PAGES_",
            "infoEmpty": "Brak psujących rekordów",
            "infoFiltered": "(Odfiltrowane z _MAX_ rekordów)",
            "search":         "Wyszukaj:",
            "paginate": {
                "first":      "Pierwsza",
                "last":       "ostatnia",
                "next":       "Natępna",
                "previous":   "Poprzednia"
                   },
        }
    } );

    $('#table tbody').on('dblclick', 'tr', function () {
        var data = t.row( this ).data();
        var pathToRedirect = '{{ path('equipment_edit', {'id': 'ABCDEF'} ) }}'
        var correctId = data[0];
        var finalPath = pathToRedirect.replace("ABCDEF", correctId);
        window.location = finalPath;
     


    } );
    $('#table tbody').on('contextmenu', 'tr', function (e) {
        e.preventDefault();
        var data = t.row( this ).data();
        var pathToRedirect = '{{ path('equipment_show', {'id': 'ABCDEF'} ) }}'
        var correctId = data[0];
        var finalPath = pathToRedirect.replace("ABCDEF", correctId);
        window.location = finalPath;
     
      

    } );

} );
  
</script> 
                
{% endblock %}